<div class="sidenav">
   <div class="sidenav__contLogo">
     <img class="sidenav__contLogo__logo" src="assets/image/logo.svg" alt="logo invoices">
     <div class="sidenav__contLogo__bottom"></div>
   </div>
   <div class="sidenav__profile-darkMode">
     <div class="sidenav__profile-darkMode__dark">
       <img src="assets/image/icon-moon.svg" alt="icon-moon">
     </div>
     <div class="sidenav__profile-darkMode__profile">
       <img src="assets/image/image-avatar.jpg" alt="image-avatar">
     </div>
   </div>
</div>
